In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('CreditScoring.csv')

## Data Cleaning

In [3]:
df.head()

,Status,Seniority,Home,Time,Age,Marital,Records,Job,Expenses,Income,Assets,Debt,Amount,Price
0,1,9,1,60,30,2,1,3,73,129,0,0,800,846
1,1,17,1,60,58,3,1,1,48,131,0,0,1000,1658
2,2,10,2,36,46,2,2,3,90,200,3000,0,2000,2985
3,1,0,1,60,24,1,1,1,63,182,2500,0,900,1325
4,1,0,1,36,26,1,1,1,46,107,0,0,310,910

In [4]:
df.columns = df.columns.str.lower()

In [5]:
df.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,1,9,1,60,30,2,1,3,73,129,0,0,800,846
1,1,17,1,60,58,3,1,1,48,131,0,0,1000,1658
2,2,10,2,36,46,2,2,3,90,200,3000,0,2000,2985
3,1,0,1,60,24,1,1,1,63,182,2500,0,900,1325
4,1,0,1,36,26,1,1,1,46,107,0,0,310,910

In [6]:
status_values = {
    1: 'ok',
    2: 'default',
    0: 'unk'
}

home_values = {
    1: 'rent',
    2: 'owner',
    3: 'private',
    4: 'ignore',
    5: 'parents',
    6: 'other',
    0: 'unk'
}

marital_values = {
    1: 'single',
    2: 'married',
    3: 'widow', 
    4: 'separated',
    5: 'divorced',
    0: 'unk'
}

job_values = {
    1: 'fixed',
    2: 'parttime',
    3: 'freelance',
    4: 'others',
    0: 'unk'
}

In [7]:
df.status = df.status.map(status_values)
df.home = df.home.map(home_values)
df.marital = df.marital.map(marital_values)
df.job = df.job.map(job_values)

In [8]:
df.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,ok,9,rent,60,30,married,1,freelance,73,129,0,0,800,846
1,ok,17,rent,60,58,widow,1,fixed,48,131,0,0,1000,1658
2,default,10,owner,36,46,married,2,freelance,90,200,3000,0,2000,2985
3,ok,0,rent,60,24,single,1,fixed,63,182,2500,0,900,1325
4,ok,0,rent,36,26,single,1,fixed,46,107,0,0,310,910

In [9]:
#using describe() to get some summary statistics about the data set 
df.describe().round()

,seniority,time,age,records,expenses,income,assets,debt,amount,price
count,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0
mean,8.0,46.0,37.0,1.0,56.0,763317.0,1060341.0,404382.0,1039.0,1463.0
std,8.0,15.0,11.0,0.0,20.0,8703625.0,10217569.0,6344253.0,475.0,628.0
min,0.0,6.0,18.0,1.0,35.0,0.0,0.0,0.0,100.0,105.0
25%,2.0,36.0,28.0,1.0,35.0,80.0,0.0,0.0,700.0,1118.0
50%,5.0,48.0,36.0,1.0,51.0,120.0,3500.0,0.0,1000.0,1400.0
75%,12.0,60.0,45.0,1.0,72.0,166.0,6000.0,0.0,1300.0,1692.0
max,48.0,72.0,68.0,2.0,180.0,99999999.0,99999999.0,99999999.0,5000.0,11140.0

Max values is 99999999.0 in some cases.  This is supspicous and and it is how missing values are encoded in this particular data set

In [10]:
for c in ['income', 'assets', 'debt']: 
    df[c] = df[c].replace(to_replace = 99999999, value = np.nan)

In [11]:
df.describe().round()

,seniority,time,age,records,expenses,income,assets,debt,amount,price
count,4455.0,4455.0,4455.0,4455.0,4455.0,4421.0,4408.0,4437.0,4455.0,4455.0
mean,8.0,46.0,37.0,1.0,56.0,131.0,5403.0,343.0,1039.0,1463.0
std,8.0,15.0,11.0,0.0,20.0,86.0,11573.0,1246.0,475.0,628.0
min,0.0,6.0,18.0,1.0,35.0,0.0,0.0,0.0,100.0,105.0
25%,2.0,36.0,28.0,1.0,35.0,80.0,0.0,0.0,700.0,1118.0
50%,5.0,48.0,36.0,1.0,51.0,120.0,3000.0,0.0,1000.0,1400.0
75%,12.0,60.0,45.0,1.0,72.0,165.0,6000.0,0.0,1300.0,1692.0
max,48.0,72.0,68.0,2.0,180.0,959.0,300000.0,30000.0,5000.0,11140.0

In [12]:
df.status.value_counts()

ok         3200
default    1254
unk           1
Name: status, dtype: int64

In [13]:
#noticing that there is one record with a status of 'unk' 
#we create a new df without records of status unk
df = df[df['status'] != 'unk']

## Dataset Preparation
0. Split the data 
1. Handle missing values 
2. Use one-hot encond to encode categorical vars
3. Create the Feature Matrix X and target variable y

In [14]:
from sklearn.model_selection import train_test_split

In [17]:
df_train_full, df_test = train_test_split(df, test_size = 0.2, random_state = 11)
df_train, df_val = train_test_split(df_train_full, test_size = 0.25, random_state = 11)

In [18]:
#checking size of data sets
len(df_train), len(df_val), len(df_test)

(2672, 891, 891)

In [19]:
#The outcome we want to predict is status
#The positive class is default (i.e. y is 1 if the client defaulted and 0 if otherwise)
y_train = (df_train.status == 'default').values
y_val = (df_val.status == 'default').values

In [20]:
#remove target variables from training sets
del df_train['status']
del df_val['status']

In [21]:
#fill missing values with zeros
df_train = df_train.fillna(0)
df_val = df_val.fillna(0)

In [22]:
#list of dictionaries
dict_train = df_train.to_dict(orient = 'records')
dict_val = df_val.to_dict(orient = 'records')

In [23]:
from sklearn.feature_extraction import DictVectorizer

In [24]:
dv = DictVectorizer(sparse = False)

In [25]:
X_train = dv.fit_transform(dict_train)
X_val = dv.transform(dict_val)

## Decision trees

In [26]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [34]:
from sklearn.metrics import roc_auc_score

In [40]:
y_pred = dt.predict_proba(X_train)[:,1]

In [41]:
roc_auc_score(y_train, y_pred)

1.0

In [42]:
y_pred = dt.predict_proba(X_val)[:,1]
roc_auc_score(y_val, y_pred)

0.6713327359473008

What we initially saw was the model over fit on the training data and had a perfrect score of 1.0 for roc_auc.  It was 67% when testing it against the validation set. The rules it extracted from the data did not generalize well to data it didn't see during training.

Next iteration, we will force the model to be simpler, making it unable to memorize all the training data and see if it can improve the model's ability to generalize.

In [43]:
dt = DecisionTreeClassifier(max_depth = 2)
dt.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=2)

In [44]:
from sklearn.tree import export_text

In [45]:
tree_text = export_text(dt, feature_names=dv.feature_names_)
print(tree_text)

|--- records <= 1.50
|   |--- job=parttime <= 0.50
|   |   |--- class: False
|   |--- job=parttime >  0.50
|   |   |--- class: True
|--- records >  1.50
|   |--- seniority <= 6.50
|   |   |--- class: True
|   |--- seniority >  6.50
|   |   |--- class: False

In [47]:
y_pred = dt.predict_proba(X_train)[:,1]
auc = roc_auc_score(y_train, y_pred)
print('train auc', auc)

train auc 0.7054989859726213

In [48]:
y_pred = dt.predict_proba(X_val)[:,1]
auc = roc_auc_score(y_val, y_pred)
print('validation auc', auc)

validation auc 0.6685264343319367

## Parameter tuning for decision tree

In [50]:
for depth in [1,2,3,4,5,6,10,15,20, None]:
    dt = DecisionTreeClassifier(max_depth = depth)
    dt.fit(X_train, y_train)
    y_pred = dt.predict_proba(X_val)[:,1]
    auc = roc_auc_score(y_val, y_pred)
    print('%4s -> %.3f'  % (depth, auc))

   1 -> 0.606
   2 -> 0.669
   3 -> 0.739
   4 -> 0.761
   5 -> 0.766
   6 -> 0.749
  10 -> 0.687
  15 -> 0.658
  20 -> 0.655
None -> 0.658

In [52]:
for m in [4,5,6]: 
    print('depth: %4s' % m)
    
    for s in [1, 5, 10, 15, 20, 50, 100, 200]:
        dt = DecisionTreeClassifier(max_depth = m, min_samples_leaf = s)
        dt.fit(X_train, y_train)
        y_pred = dt.predict_proba(X_val)[:,1]
        auc = roc_auc_score(y_val, y_pred)
        print('%4s -> %.3f'  % (s, auc))
        
    print()

depth:    4
   1 -> 0.761
   5 -> 0.761
  10 -> 0.761
  15 -> 0.764
  20 -> 0.761
  50 -> 0.753
 100 -> 0.756
 200 -> 0.747

depth:    5
   1 -> 0.766
   5 -> 0.768
  10 -> 0.762
  15 -> 0.772
  20 -> 0.774
  50 -> 0.767
 100 -> 0.763
 200 -> 0.759

depth:    6
   1 -> 0.750
   5 -> 0.762
  10 -> 0.778
  15 -> 0.785
  20 -> 0.774
  50 -> 0.770
 100 -> 0.776
 200 -> 0.768

In [53]:
#our best parameters are max depth 6 and min leaf size 15
dt = DecisionTreeClassifier(max_depth=6, min_samples_leaf=15)
dt.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=15)